*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Poiret One', Arial, serif;
  color: #5C1592;
}

html, header, footer {
  background-image: url(gifdefond.gif);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header, footer {
  position: fixed;
  left: 0;
  right: 0;
}

header, footer {
  color: white;
}

header {
  top: 0;
}

article {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
}

.contenu {
  padding: 10% 20%;
}

.contenu div {
  margin-top: 2%;
  margin-bottom: 2%;
}

.contenu p {
  padding: 2%;
}

#accueil .contenu div:hover, fieldset button:hover {
  background-color: rgba(204, 136, 255, 0.5);
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: lighter;
  font-size: 3em;
  padding: 2% 3%;
}

h2 {
  padding: 3%;
}

h3, fieldset button {
  background-color: #00FFCC;
  color: #FF00AA;
}

footer {
  bottom: 0;
}

footer p {
  text-align: right;
  padding: 1% 2%;
  font-weight: bold;
}

.retour {
  background-color: transparent;
  border: none;
  position: fixed;
  margin-top: 9%;
  margin-left: 1%;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.2em;
  color: #FF00AA;
}

.cleaner {
  clear: left;
}

#ornitho {
  float: left;
  display: inline-block;
  margin-right: 3%;
}

#paillettes {
  width: 55%;
  float: right;
  display: inline-block;
  margin-left: 3%;
}

#alien {
  width: 50%;
  float: left;
  display: inline-block;
  margin-right: 3%;
}

table {
  margin: 3% auto;
}

td {
  padding: 2%;
}

td img {
  height: 200px;
  width: 200px;
}

form {
  position: fixed;
  margin-top: 9%;
  margin-left: 1%;
  font-family: inherit;
  font-size: 1.2em;
  color: #FF00AA;
  width: 15%;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
  color:#00FFCC;
  padding-bottom: 2%;
}

fieldset button {
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 1em;
  margin: 5% 0;
  padding: 1%;
}
